<div class="Contact-block js-attendees">
  <h4 class="Contact-blockTitle">{{ t 'contact.attendees' }}</h4>
</div>
<div class="Contact-block js-buses">
  <h4 class="Contact-blockTitle">
    {{ t 'contact.bus-info' }}
    <a href="{{ t 'transport-going.key' }}" data="slide-url" class="Color Color--alternative u-lSpace--m">
      <i class="fa fa-link"></i>
    </a>
  </h4>
  <div class="Form-fieldset">
    <div class="Form-field">
      <select class="js-going Contact-input--large" name="going" 
        {{#ifCond state '==' 'loading' }}
          disabled
        {{/ifCond}}
      ></select>
    </div>
  </div>
  <div class="Form-fieldset u-tSpace--m">
    <div class="Form-field">
      <select class="js-return Contact-input--large" name="return"
        {{#ifCond state '==' 'loading' }}
          disabled
        {{/ifCond}}
      ></select>
    </div>
  </div>
</div>
<div class="Contact-block js-info">
  <h4 class="Contact-blockTitle">{{ t 'contact.your-info' }}</h4>
  <div class="Form-fieldset">
    <div class="Form-field u-rSpace--m">
      <input type="text" value="{{ phone }}" name="phone" class="Form-input js-phone" placeholder="{{ t 'form.phone' }}"
        {{#ifCond state '==' 'loading' }}
          disabled
        {{/ifCond}}
      />
    </div>
    <div class="Form-field">
      <input type="email" value="{{ email }}" name="email" class="Form-input js-email" placeholder="{{ t 'form.email' }}"
        {{#ifCond state '==' 'loading' }}
          disabled
        {{/ifCond}}
      />
    </div>
  </div>
  <div class="Form-fieldset u-tSpace--m">
    <div class="Form-field">
      <input type="text" value="{{ song }}" name="song" class="Form-input js-song" placeholder="{{ t 'form.song' }}"
        {{#ifCond state '==' 'loading' }}
          disabled
        {{/ifCond}}
      />
    </div>
  </div>
</div>

{{#ifCond state '==' 'idle' }}
  <button type="submit" class="Button Button--primary">
    {{ t 'form.send' }}
  </button>
{{/ifCond}}

{{#ifCond state '==' 'loading' }}
  <button type="button" class="Button Button--disabled">
    {{ t 'form.sending' }}
  </button>
{{/ifCond}}

{{#ifCond state '==' 'success' }}
  <button type="submit" class="Button Button--success">
    {{ t 'form.sent' }}
  </button>
{{/ifCond}}

{{#ifCond state '==' 'error' }}
  <button type="submit" class="Button Button--error">
    {{ t 'form.error' }}
  </button>
{{/ifCond}}