<div class="Form-fieldset">
  <div class="Form-field">
    <input type="email" name="email" class="Form-input js-textInput" placeholder="{{ t 'honeymoon.email-placeholder' }}" value="{{value}}"
      {{#ifCond state '!=' 'idle' }}
        disabled
      {{/ifCond}}
      required
    />
  </div>
</div>
<div class="Form-fieldset u-tSpace--m">
  <div class="Form-field">
    {{#ifCond state '==' 'loading' }}
      <button type="button" class="Form-submit Button Button--disabled" disabled>
        {{ t 'form.sending' }}
      </button>
    {{/ifCond}}
    {{#ifCond state '==' 'idle' }}
      <button type="submit" class="Form-submit Button Button--primary">
        {{ t 'form.send' }}
      </button>
    {{/ifCond}}
    {{#ifCond state '==' 'success' }}
      <button type="submit" class="Form-submit Button Button--success" disabled>
        {{ t 'form.sent' }}
      </button>
    {{/ifCond}}
  </div>
</div>