<div class="Slide-content Slide-content--centered">
  <div id="js-map" class="TravelList-map"></div>

  <div class="Slide-contentIcon u-tSpace--xxl">
    <i class="Slide-icon Color Color--dark fa fa-globe fa-lg"></i>
    <div class="Animation js-animation">
      <div class="Animation-planeWrapper">
        <i class="fa fa-plane Animation-plane Color--dark"></i>
      </div>
    </div>
  </div>
  <h2 class="Color Color--dark Slide-title Text-title">{{ t 'honeymoon.title' }}</h2>

  <p class="Slide-contentParagraph Text Color Color--dark Text-paragraph u-tSpace--xxxl">{{{ t 'honeymoon.desc' }}}</p>

  <div class="js-form"></div>

  <ul class="TravelList pure-g">
    {{#each items}}
      <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
        <div class="l-box">
          <div class="TravelList-item">
            <div class="TravelList-itemImage">
              <img class="pure-img" src="{{ imageURL }}" title="{{ t title }}" alt="{{ t title }}"/>
              <!--span class="TravelList-itemCost Color">{{ cost }}€</span-->
            </div>
            <div class="TravelList-itemInfo">
              <h4 class="TravelList-itemTitle Text Color--dark">{{ t title }}</h4>
              <p class="Text Text--paragraph TravelList-itemDesc Color--dark u-tSpace--xl">{{ t desc }}</p>
            </div>
            <div class="TravelList-itemFooter">
              <p class="TravelList-itemType Text Text--paragraph">{{ t type }}</p>

              {{#ifCond wikipediaURL '!=' null }}
                <a href="{{ t wikipediaURL }}" class="TravelList-itemWikipedia" target="_blank">
                  <i class=" fa fa-wikipedia-w"></i>
                </a>
              {{/ifCond}}

              {{#ifCond itemURL '!=' null }}
                <a href="{{ t itemURL }}" class="TravelList-itemLink" target="_blank">
                  <i class=" fa fa-link"></i>
                </a>
              {{/ifCond}}
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
