<section class="slide Slide" id="{{ t 'transport-return.key' }}" data-title="{{ t 'transport-return.title' }}" data-background="#9B9B9B">
  <div class="Slide-content">
    <i class="Slide-icon Color fa fa-bus fa-lg"></i>
    <h2 class="Color Text-title">
      {{ t 'transport-return.title' }}
      <super class="Text-subTitle">
        ({{ t 'transport-return.sub-title' }})
      </super>
    </h2>
    <p class="Slide-contentParagraph Text Color Text-paragraph u-tSpace--xl">{{{ t 'transport-return.desc' }}}</p>
  </div>
</section>